<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-set-affinity" version="0.0.1">
  <name>Set Affinity</name>
  <description>
		To enable you to set the setAffinity property of a cordova-android application.
	</description>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=8.0.0"/>
    <engine name="cordova-android" version=">=8.0.0"/>
  </engines>
 <dependency id="cordova-custom-config" url="https://github.com/dpa99c/cordova-custom-config" commit="master"/>
  <platform name="android">
	<custom-preference name="android-manifest/application/activity[@android:name='MainActivity']/@android:setAffinity" value=""	  
      
  </platform>
</plugin>




