<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-set-affinity" version="0.0.1">
  <name>Set Affinity</name>
  <description>
		To enable you to set the setAffinity property of a cordova-android application.
	</description>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=8.0.0"/>
    <engine name="cordova-android" version=">=8.0.0"/>
  </engines>
  <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='MainActivity']">
      	<activity android:taskAffinity=""/>
    	</edit-config>
  </platform>
</plugin>




