<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-set-affinity" version="0.0.1">
  <name>Set Affinity</name>
  <description>
		To enable you to set the setAffinity property of a cordova-android application.
	</description>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=6.0.0"/>
    <engine name="cordova-android" version=">=6.0.0"/>
  </engines>
  <preference name="AFFINITY" default="false"/>
  <platform name="android">
      <edit-config file="AndroidManifest.xml" 
                   target="/manifest/application" 
                   mode="merge">
          <application>
			<activity android:taskAffinity="$AFFINITY"/>
		  </application>
      </edit-config>
  </platform>
</plugin>




